BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always
MaxEmptyLinesToKeep: 1
ColumnLimit: 100
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
---
Language: Cpp
AllowShortFunctionsOnASingleLine: Empty
PointerAlignment: Right
---
Language: JavaScript
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 90
JavaScriptQuotes: Single
IndentCaseLabels: true
SpacesInContainerLiterals: false